
{ 

  "overrides": [
    {
      "files": ["*.tsx", "*.ts"],
      "options": {
        "tabWidth": 2,
        "endOfLine": "crlf",
        "printWidth": 100,
        "semi": true
      }
    }
  ]
}